<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Jours</th>
        <th scope="col">Temperature Minimum</th>
        <th scope="col">Temperature Maximum</th>
        <th scope="col">Moyenne de la journée</th>
        <th scope="col">Humidité</th>
        <th scope="col">Vitesse du vent</th>
      </tr>
    </thead>
    <tbody>
    <tr>
      <th>1</th>
      <td>Min</td>
      <td>Max</td>
      <td>Min</td>
      <td>Max</td>
      <td>Max</td>
    </tr>
    </tbody>
</table>